.header
{
    background-color: aquamarine ;
    width: 100%;
    position: relative;
    padding:15px 0;
}

.header-ul
{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding:0;
}

.header-ul>li
{
    list-style-type: none;
}